<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout - Drop-in</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>

    <header>
        <!-- Adyen logo inline SVG (verde oficial) -->
        <img src="/images/Adyen_Corporate_Logo.svg" alt="Adyen" class="adyen-logo">
    </header>

    {{{body}}}

    <footer>©2026 Adyen</footer>

</body>
</html>