<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout - Drop-in</title>
    <link rel="stylesheet" href="/css/app.css">

    <!-- Import Scripts. #adyen. -->
    <!-- Adyen Web SDK v6.6.0 - loads from test CDN. #adyen -->
    <script src="https://checkoutshopper-test.cdn.adyen.com/checkoutshopper/sdk/6.6.0/adyen.js" integrity="sha384-Oa2agnE48SFtDpzmEK8mbhbmEA1X4WH6afLBbypUhFU8oDhJWAIGvLQTBrqgls4A" crossorigin="anonymous"></script>

    <!-- Adyen Web stylesheet v6.6.0. #adyen -->
    <link rel="stylesheet" href="https://checkoutshopper-test.cdn.adyen.com/checkoutshopper/sdk/6.6.0/adyen.css" integrity="sha384-UAD/QSv1wQyfA60svLYxJ0OJAPl9TpkksO+HEOUX8YJcD+MYzNmn+q4XL7YBeHcr" crossorigin="anonymous">


</head>
<body>

    <header>
        <!-- Adyen logo inline SVG (verde oficial) -->
        <img src="/images/Adyen_Corporate_Logo.svg" alt="Adyen" class="adyen-logo">
    </header>

    {{{body}}}

    <footer>©2026 Adyen</footer>

</body>
</html>